* {
  box-sizing: border-box;
}

.app{
  align-items: center;
  background-color: rgb(235, 233, 233);
  padding: 1em;
  min-width: 300px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: .5em;
}

.create {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  padding: 1em 0;
}

button {
  background-color: rgb(255, 136, 0);
  border: 1px solid black;
  padding: 0.4em 0.6em;
  font-size: max(1em, 1vw);
  border-radius: 0.5em;
  margin-top: 1.3em;
  cursor: pointer;
}

.create p {
  font-size: max(1.5em, 1.5vw);
  color: black;
  margin-top: -1.3em;
}

.create h3 {
  font-size: max(2.5em, 2.5vw);
  color: black;
}

.trending {
  background-color: rgba(131, 113, 113, 0.813);
  text-align: center;
  width: clamp(200px, 30%, 300px);
  padding: 1em;
}

.trending p {
  background-color: rgb(255, 255, 255);
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 0.5em 0em;
  border-radius: 0.5em;
  margin-block: 0.8em;
}

.trending button {
  border: none;
}

.signup {
  background-color: white;
  border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  border-radius: .5em;
}

.signup div {
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: flex-end;
  padding: .5em;
  margin-block: -1em;
}

.signup p {
  padding: 0.3em;
  font-size: max(1em, 1vw);
  width: 50%;
  text-align: center;
}

.btn {
  background-color: rgb(255, 136, 0);
  border: 1px solid black;
  padding: 0.4em 0.6em;
  font-size: max(1em, 1vw);
  border-radius: 0.5em;
}

@media screen and (max-width: 880px) {
  .container{
    flex-direction: column;
    align-items: center;
  }

  .trending{
    width: 100%;
  }

  .signup div{
    width: 50%;
  }
}
